* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.headerThing h1{
    color: aliceblue;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 55%;
}

.mode {
    opacity: 0.5;
}

.text-select {
    width: 100%;
    height: 10vh;
    background: #222222;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vh;
    display: flex;
    align-items: top;
    justify-content: center;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

span {
    color: aliceblue;
    font-weight: bolder;
}

key {
    color: #4ffc91f6;
    font-weight: bolder;
}

.buttons {
    background-color: #222222;
    align-items: top;
    justify-content: center;
    text-align: center;
    height: 20vh;
    width: 100%;
}
.btn {
    background-color: transparent;
    opacity: 0.9;
    size: 10vh;
    color: white;
    font-size: 8vh;
    padding-inline: 7vh;
    padding-top: 6vh;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
  }
.btn:hover {
    animation-timing-function: ease-in;
    color: #4ffc91f6;
    animation: TransitioningBackground 0.6s ease;
    transition: 0.6s;
}

.acontainer {
    padding-top: 2.5vh;
    background-color: #222222;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 15vh;
    width: 100%;
}

.arrows {
    width: 46vh;
    padding-inline: 19.5vh;
    filter: opacity(0.5) drop-shadow(0 0 white);
    transform: rotate(40deg);
}

.intro {
    width: 100%;
    height: 40vh;
    background-color: #222222;
    align-items: top;
    justify-content: center;
    text-align: center;
    size: 10vh;
}

.text-intro {
    color: white;
    font-size: 5vh;
    font-weight: 600;
    padding-top: 4vh;
    opacity: 0.5;
}

#a {
    transform: scaleX(-1) rotate(40deg);;
}
